@import '../../../styles/mixins';
@import '../../../styles/variables';

.table-wrapper {
  overflow-x: scroll;
}

.table {
  overflow: scroll;
  border-collapse: collapse;
  width: 100%;

  thead {
    th {
      background: $gray;
      font-weight: bold;
      text-align: left;
    }
  }

  tbody {
    td {
      text-transform: capitalize;
    }
  }

  th,
  td {
    @include font-medium;
    border: 1px solid $gray-transparent;
    padding: 10px 12px;
    text-align: left;
  }

  .head-title {
    align-items: center;
    display: flex;
    gap: 0 10px;
  }
}

@include media-min-width('tablet-wide') {
  .table-wrapper {
    overflow-x: unset;
  }

  .table {
    th,
    td {
      padding: 20px 23px;
    }
  }
}
