@import '../../../styles/variables';

input,
select {
  background: $white;
  border: 1px solid $gray-transparent;
  border-radius: 3px;
  color: $dark-gray;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.5px;
  height: 36px;
  padding: 5px 16px;
  width: 560px;
}

label {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.63;
  letter-spacing: 0.57px;
  min-width: 155px;
  text-align: right;
}
