@import '../../../styles/mixins';
@import '../../../styles/variables';

.header {
  background: $primary-blue;
  color: $white;
  height: 64px;
  margin-bottom: 40px;
  padding: 0 15px;
  width: 100%;

  h1 {
    @include font-big;
  }

  &-wrap {
    align-items: center;
    display: flex;
    gap: 0 16px;
    height: 100%;
    margin: 0 auto;
    max-width: 1376px;
  }

  @include media-min-width('tablet') {
    padding: 0;
  }
}
