@import '../../../styles/variables';

.header {
  background: $primary-blue;
  color: $white;
  height: 64px;
  margin-bottom: 40px;
  width: 100%;

  &-wrap {
    align-items: center;
    display: flex;
    gap: 0 16px;
    height: 100%;
    margin: 0 auto;
    max-width: 1376px;
  }
}
