@import '../../../styles/mixins';
@import '../../../styles/variables';

.custom-select {
  position: relative;
  width: 100%;

  input {
    @include font-small;
    cursor: pointer;
    text-transform: capitalize;
  }

  .open-select {
    position: absolute;
    right: 24px;
    top: 12px;
  }

  .options {
    @include font-small;
    background: $white;
    border: 1px solid $gray-transparent;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    left: 0;
    position: absolute;
    top: 38px;
    width: 100%;

    span {
      cursor: pointer;
      display: inline-block;
      padding: 10px;

      &:hover {
        background: $gray-transparent;
      }
    }
  }
}
